<%= form_with scope: :article, url: article_update_path, method: :put, locale: true do |f| %>
<div>
  <% if @article.errors.any? %>
    <ul>
      <% @article.errors.full_messages.each do |err| %>
        <li><%= err %></li>
      <% end %>
    </ul>
  <% end %>
</div>
<div>
  <%= f.label :name %>
  <%= f.text_field :name %>
</div>

<div>
  <%= f.label :body %>
  <%= f.text_field :body %>
</div>

<div>
  <%= f.submit %>
</div>
<% end %>